<div class="contents row">
  <div class="post-flame">
    <div class="post-name" style="padding:10px">
      <p>温泉一覧</p>
      <% @products.each do |product|%>
        <div class="post-itiran">
          <a href="/products/<%= product.id %>">
         <div class="title_">
           <%= product.title %>
         </div>
          <div class="image_">
           <img src="<%= product.image_url %>" width="300" height="150"></img>
          </div>
           <div class="text-xsmall">
             <p>
             <%= product.explain.truncate(25) %>
           </p>
           </div>
           </a>
        </div>
       
      
      <% end %>
      <%= paginate(@products)%>
    </div>
  </div>
</div>