<div class="main-contents">
    <div class="contents">
        <div class="top-image">
            <img src="https://t4.ftcdn.net/jpg/01/97/82/47/240_F_197824759_KUrBatUtl1mKD3lnMbl0rYC8L0gPCpHN.jpg" alt="温泉イメージ" width="1000" height="500"></img>
        </div>
        <div class="portion" style="float:left">
          <p>一覧</p>
              <% @products.each do |product| %>
              <a href="/products/<%= product.id %>">
          <div class="article">
            <div class="article-image">
              <div class="image">
                <img src="<%= product.image_url %>" width="150" height="150">
              </div>
             </div>
              <div class="article-text">
                        <div class="detail-name"><%= product.title %></div>
                        <div class="explain"><%= product.explain.truncate(41) %></div>
                        <div class="access">
                            <%= product.access %></div>
                        <div class="evaluation">
                          <span class="rating-star">
                            <i class="star-actived rate-[ここに評価を表示]0"></i>
                          </span>
                        </div>
              </div>
           </div>
              </a>
              <% end %>
              <h5 style="float:right",><%= link_to 'もっと詳しく一覧表示する','/products/detail'%></h5>
          </div>
         <div class="ranking" style="float:right">
            <p>ランキング</p>
            <% @ranking.each.with_index(1) do |product, i| %>
             <div class="ranking-detail">
                 <a href="/products/<%= product.id %>">
                 <div class="ranking_number"><%= i %></div>
                 <div class="ranking_image" style="text-align:center">
                <img src="<%= product.image_url %>" alt=""width="300" height="200" >
                </div>
                  <p>
                    <%= product.title %>
                  </p>
                </a>
             </div>
            <%end%>
        </div>
    </div>
    <div class="recently" style="float:right">
        <p>最近の口コミ</p>
      <% @reviews.each do |review| %>
       <div class="comment-review">
         <div classs="comment-user">
          <div class="comment-image">
            <img src="<%= review.product.image_url %>" width="100" height="100"></img>
             <div class="comment-image-title"><%= review.product.title %></div>
             <p class="text-small">
             <span class="rating-star"><i class="star-actived rate-<%= review.rate %>0"></i></span>
             </p>
          </div>
         </div>
          
          <div class="comment-info">
            <div class="comment-username"><span><<%= review.user.nickname %>さん></span></%></div>
            <div class="comment-title">
              <%= review.title %></div>
            <div class="comment-comment"><%= review.review%></div>
          </div>
        </div>
         <% end %>
    </div>
</div>
    