 <div class="main_wrapper">
  <h3><詳細ページ></h3>
  <div class="shousai">
   <div class="shousai-title">
     <%= @product.title %>
     </div>
   <div class="shousai-image" style="text-align:center">
     <img src="<%= @product.image_url %>" alt="<%= @product.title %>"width="750" height="350">
     </div>
     <div class="shousai-explain">
      <%= @product.explain %>
     </div>
      
      <div class="toko-page-flame" style="float:right">
      <a href="/products/<%= @product.id %>/reviews/new" title="<%= @product.title%>">
       コメント
       </a>
       </div>
  </div>
  
   <div class="comment-show">
    <h2>口コミ</h2>
      <% @product.reviews.each do |review| %>
       <div class="comment-review">
         <div classs="comment-user">
          <div class="comment-image">
             <p class="text-small">
             <span class="rating-star"><i class="star-actived rate-<%= review.rate %>0"></i></span>
             </p>
          </div>
         </div>
          
          <div class="comment-info">
            <div class="comment-username"><span><<%= review.user.nickname %>さん></span></%></div>
            <div class="comment-title">
              <%= review.title %></div>
            <div class="comment-comment"><%= review.review%></div>
          </div>
        </div>
         <% end %>
   </div>
 </div>