<!DOCTYPE html>
<html>
  <head>
    <title>Private</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>
    <div class="header">
        <div class="user__info">
          <ul>
            <li class="logo" style="float :left">~温泉物語~</li>
            <li class="logout" style="float :right">ログアウト</li>
            <li class="new" style="float :right">投稿</li>
            <li class="signin" style="float :right">サインイン</li>
          </ul>
          <p>静岡の魅力！be more interested</p>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
